:root {
    /* --background: #979AAD; */
    --text-color: #DBE4EF;
    --card-front-color: #144480;
    --card-back-color: #00F4BF;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('img/bg-desktop.png');
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    padding: 1rem;
    margin: auto 1rem;
}

.card {
    margin: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    flex: 1 0 calc(33% - 6rem);
    height: 20rem;
}

.card__content {
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 400ms ease-in-out;
    background-color: var(--card-front-color);
    height: 100%;
}

.card h2 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    border-radius: 0.6rem;
    margin: 0.6rem;
    font-size: 1rem;
    bac
}

.card__content p {
    margin-top: 1.5rem;
    padding: 3rem;
}

.card__content__front,
.card__content__back {
    font-size: 1.6vw;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    backface-visibility: hidden;
    box-sizing: border-box;
}

.card__content__front p {
    color: white;
}

.card__content__back {
    color: #00F4BF;
    background-color: rgba(0, 244, 191, 0.2); 
    border: 4px solid var(--card-back-color);
    transform: rotateY(180deg);
}

.card.active .card__content {
    transform: rotateY(180deg);
}

/* Footer */
footer {
    background-color: var(--background-color);
    box-shadow: 0px -0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    color: var(--text-color);
    margin: 0 1.25rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: green;
}

@media (max-width: 1024px) {
    body {
        background: url('img/bg-tablet.png');
    }
    .card {
        flex: 1 0 calc(40% - 2rem);
    }
    .card__content p {
        font-size: 3vw; /* Tamanho de fonte relativo à largura da tela */
    }
}

@media (max-width: 560px) {

    body {
        background: url('img/bg-mobile.png');
    }
    .card {
        flex: 1 0 calc(100% - 2rem);
    }
    .card__content p {
        font-size: 5vw; /* Tamanho de fonte relativo à largura da tela */
    }
}