:root {
    --background-color: #979AAD;
    --text-color: #464D7A;
    --card-front-color: #DBDFE1;
    --card-back-color: #dbdfe169;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3rem;
    padding: 1rem;
    margin: auto 1rem;
}

.card {
    margin: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    flex: 1 0 calc(33% - 6rem);
    height: 20rem;
}

.card__content {
    text-align: center;
    transform-style: preserve-3d;
    transition: transform 400ms ease-in-out;
    background-color: var(--card-front-color);
    height: 100%;
}

.card__content__front,
.card__content__back {
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    backface-visibility: hidden;
}

.card__content__front p {
    font-size: 1.6vw;
}

.card__content__back {
    background-color: var(--card-back-color);
    transform: rotateY(180deg);
}

.card__content p {
    padding: 3rem;
    color: var(--text-color);
}

.card.active .card__content {
    transform: rotateY(180deg);
}

/* Footer */
footer {
    background-color: var(--background-color);
    box-shadow: 0px -0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    color: var(--text-color);
    margin: 0 1.25rem;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.footer-links a:hover {
    color: green;
}

@media (max-width: 1024px) {
    .card {
        flex: 1 0 calc(40% - 2rem);
    }
    .card__content p {
        font-size: 3vw; /* Tamanho de fonte relativo à largura da tela */
    }
}

@media (max-width: 560px) {
    .card {
        flex: 1 0 calc(100% - 2rem);
    }
    .card__content p {
        font-size: 5vw; /* Tamanho de fonte relativo à largura da tela */
    }
}